.GameList--Container {
    width: 100vw;
}

.GameList--Loading {
    display: flex;
    justify-content: center;

    margin-top: 10%;
}

.GameList--List {
    margin-bottom: 20px;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
}